.firstWrap {
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: #262641;
  border-radius: 6px;
  width: 846px;
  height: 220px;
}
.secondWrap {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.imageUser {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.textArea {
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  background-color: transparent;
  resize: none;
}

.textArea::placeholder {
  color: inherit;
}
